<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- WARN>INFO>DEBUG -->

	<appender name="ROLLINGFILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日志文件输出的文件名 -->
			<FileNamePattern>D:/tmp/conf_management.log.%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<!--日志文件最大的大小 -->
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{80} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS} %-5level %logger{80} - %msg%n</Pattern>
		</encoder>
	</appender>


	<logger additivity="false" name="com.centling.conference" level="DEBUG">
		<appender-ref ref="ROLLINGFILE" />
	</logger>


	<!-- 下面配置一些第三方包的日志过滤级别，用于避免刷屏 -->
	<logger name="net" level="ERROR" />
	<logger name="org" level="ERROR" />

	<!-- 处理掉P6spy的日志 -->
	<logger name="com.p6spy" level="ERROR" />
	<logger name="com.centling.conference.*.DAO" level="ERROR" />

	<root>
		<level value="ERROR" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
