<table interlaced="disabled" style="background-color: rgb(244, 242, 229);"><tbody><tr class="firstRow"><td style="word-break: break-all;" height="267" valign="top" width="842"><p><img src="http://tcf.namkwong.org/images/meeting_banner.jpg" width="842"/></p></td></tr><tr><td>&nbsp;</td></tr><tr><td style="word-break: break-all;padding-left:15px;padding-right:15px;" height="71" valign="top" width="812"><p>亲爱的先生/女士,<br/></p><p style="text-indent: 2em;">这封信是由太湖世界文化论坛世界传统医学文化保护与发展高级别（澳门）会议会务组发送的，您收到这封邮件，是由于您在太湖世界文化论坛进行了新用户注册。</p><p style="text-indent: 2em;">您的验证码:<strong>${code}</strong></p><p style="text-indent: 2em;">如果您并没有访问过 太湖世界文化论坛世界传统医学文化保护与发展高级别（澳门）会议论坛 网址，或没有进行上述操作 ，请忽略这封邮件。您不需要退订或进行其他进一步的操作。</p><p style="text-indent: 2em;">再次感谢您的参与！</p><p style="text-align:right;padding-right:30px;">太湖世界文化论坛2014年世界传统医学文化保护与发展高级别（澳门）会议</p><p style="text-align:right;padding-right:30px;">${year}年${month}月${day}日</p></td></tr></tbody></table>