.demodemo{float:right; width: 790px; height:200px; margin:2px 0 0 0; padding-bottom:10px; background:url(../images/zhijian_title_bg.jpg) no-repeat;}
.opericon{float:left; padding:20px;margin:15px;border:5px solid transparent;box-shadow: 0 0 20px black;display: inline}
.opericon:hover{float:left; padding:20px;margin:15px;border:5px solid  yellow;box-shadow: 0 0 20px black;}
.opericon img{width:104px; border:0;}
.ibe_outer{float:left;margin:18px;box-shadow: 0 0 20px black; }
#page-wrap {position: relative;	width: 800px;	height:200px;	margin:88px auto;	padding: 20px 0 0 80px;	background: #fff;	-moz-box-shadow: 0 0 20px black;	-webkit-box-shadow: 0 0 20px black; box-shadow: 0 0 20px black;}
#inpage-warp {position: relative;width: 880px;	height:2px; margin:-85px auto;	background: #fff;	box-shadow: 0 0 2px black;}



.form-group {
	margin: 10px 0;
}

div.help {
	border-left: 1px dotted #dddad9;
	padding: 0 0 0 12px;
	margin: 0 0 10px 0;
}

div.help h4 {
	line-height: 14px;
}

h4 {
	margin: 0 0 7px -12px;
	padding: 7px 0 7px 12px;
	font: bold 12px Times, serif;
	color: #891300;
	border-top: 0;
	border-bottom: 1px dotted #dddad9;
}

h4 span {
	color: #666666;
}

.tip-title {
	color: #891300;
}

.form-control {
	width: 80%;
	border: 1px solid #95B8E7;
}

.panel-body {
	/*border: none;*/
}

.panel-title {
	font-weight: normal;  
}

.required-label{
	color:red;
	vertical-align: middle;
	padding-top: 8px;
}

.error{
	color:#891300;
	font-size:8pt;
}

.label-inverse,.badge-inverse {
	background-color: #333;
}

.label {
	background-color: #999;
}

.regi_banner{
	margin-bottom:4px;
}

.container h2{
	color:#000;
}

#footer{
	padding-top: 30px;
	text-align: center;
	font-size: 12px;
	padding-bottom:20px;
	margin:0 auto;
}

#footer a {
	font-size: 12px;
	color: #999;
	text-decoration: none;
}

#footer a:hover {
	color: #F9970B;
}

#footer p {
	font-size: 12px;
	color: #999;
	line-height: 12px;
}

#top_1_0 {
	background: url(images/home_03.png) repeat-x;
	height: 30px;
	min-width: 1000px;
	position: relative;
	font-size: 13px;
}

#top_1_0 a {
	text-decoration: none;
	color: #5D0D08;
	border-right: 1 solid #CCCBCB;
}

#top_1_0 a:hover {
	color: #F9970B;
}

.top_1_ul {
	display: block;
	list-style-type: disc;
	margin-left: 180px;
	float: left;
	margin-top: 0px;
}

.top_1_ul li {
	float: left;
	margin-right: 10px;
	line-height: 30px;
}

li {
	list-style: none;
}

#updatePwd {
	color: #BFA27A;
	background: #EEEBD8;
	border-radius: 10px;
	font-size: 12px;
}

a:hover {
	text-decoration: none;
}


.pw-label {
	margin: 0 0 7px -12px;
	padding: 7px 0 7px 12px;
	font: bold 12px Times, serif;
	color: #891300;
	border-top: 0;
}

.panel-bar{
	background-color:#C2A580 !important;
	color:#ffffff !important;
}

.combo{
	width: 300px !important;
	height: 30px !important;
}
fieldset a{
	color:black;
}
fieldset a:link{
	color:black;
}
fieldset a:visited{
	color:black;
}
fieldset a:hover{
	color:black;
}
fieldset a:active{
	color:black;
}