<table interlaced="disabled" style="background-color: rgb(244, 242, 229);"><tbody><tr class="firstRow"><td style="word-break: break-all;" height="267" valign="top" width="842"><p><img src="http://tcf.namkwong.org/images/meeting_banner.jpg" width="842"/></p></td></tr><tr><td>&nbsp;</td></tr><tr><td style="word-break: break-all;padding-left:15px;padding-right:15px;" height="71" valign="top" width="812"><p>尊敬的${user}先生/女士：</p><p style="text-indent: 2em;">您的个人信息已经通过太湖世界文化论坛世界传统医学文化保护与发展高级别（澳门）会议主办方的审核。</p><p style="text-indent: 2em;">此确认函及二维码为参会重要凭据，请打印并妥善保存。</p><p>&nbsp;</p><p style="padding-left:100px;">此致</p><p style="padding-left:150px;">敬礼!</p><p style="text-align:right;padding-right:30px;">世界传统医学文化保护与发展高级别（澳门）会议</p><p style="text-align:right;padding-right:30px;">${year}年${month}月${day}日</p></td></tr><tr><td><img src="cid:aaa"/></td></tr></tbody></table>